* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background: #00A9D4;
    height: 60px;
    position: relative;
}

.icon {
    cursor: pointer;
}

.icon span {
    background: #ff4444;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px;
}

.icon img {
    display: inline-block;
    width: 40px;
    margin-top: 20px;
}

.icon:hover {
    opacity: .7;
}

.notifi-box {
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 35px;
    transition: 1s opacity, 250ms height;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    pointer-events: none;
    border-radius: 10px;
    background-color: #000;
    /* Fondo negro */
}

.notifi-box h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #444;
    /* Línea divisoria en gris oscuro */
    color: #ff6600;
    /* Color naranja */
}

.notifi-box h2 span {
    color: #ff4444;
}

.notifi-item {
    display: flex;
    border-bottom: 1px solid #444;
    /* Línea divisoria en gris oscuro */
    padding: 15px 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

.notifi-item:hover {
    background-color: #333;
    /* Fondo gris oscuro al pasar el ratón */
}

.notifi-item img {
    display: block;
    width: 50px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 7px;
    margin: auto 10px auto auto;
}

.notifi-item .text h4 {
    color: #ff6600;
    /* Texto en naranja */
    font-size: 16px;
    margin-top: 10px;
}

.notifi-item .text p {
    color: #aaa;
    /* Texto en gris claro */
    font-size: 12px;
}

.notifi-item .buttons {
    margin: auto;
    display: flex;
}

.notifi-item .buttons button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444;
    /* Fondo gris oscuro */
}

.notifi-item .buttons .accept-button {
    background: #444;
}

.notifi-item .buttons .accept-button:hover {
    background: #3dad41;
    /* Verde aceptado */
}

.notifi-item .buttons .reject-button {
    background: #444;
}

.notifi-item .buttons .reject-button:hover {
    background: #ff6600;
    /* Naranja rechazado */
}

.notifi-item:hover .buttons button {
    background: white;
}

.notification-icon {
    position: relative;
    display: inline-block;
}

.notifi-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff6600;
    /* Naranja */
    color: white;
    font-size: 12px;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.bell-icon:hover {
    fill: #c34f02;
}