.customAlert {
    border-radius: 8px;
    background-color: var(--color-fondo-principal) !important;
    border: 1px solid var(--color-terciario);
    box-shadow: 0px 0px 12px 0px var(--color-terciario);
    padding: 30px;
    margin-bottom: 30px;
    color: var(--color-texto-secundario)
}

.customAlert .customActLink {
    color: var(--color-texto-principal);
}

.activityUserImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.activityUserContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.actUserName {
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 0;
}

.actUserName a {
    color: var(--color-texto-secundario);
    text-decoration: none;
}

.actUserName span {
    font-weight: 400;
    color: var(--color-texto-principal);
}

.actPostBody p {
    font-size: 1.1em;
    color: var(--color-texto-principal);
}

.actExpireDate {
    font-size: 1em;
    font-weight: 400;
    color: var(--color-texto-principal);
    text-align: right;
    margin-right: 20px;
}

.dateCheck {
    display: flex;
    align-items: end;
    justify-content: end;
}

.actCheckIcon {
    cursor: pointer;
}

.joinedUsers {
    margin-top: 1.7em;
}

.joinedUsers p{
    font-size: 0.9em;
    margin-top: 0.6em;
}