.contenedor-deslizar-perfiles {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfil-activo {
  display: block;
}

.perfil-inactivo {
  display: none;
}

.tarjeta-perfil {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.cabecera-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nombre-perfil {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.nivel-perfil {
  font-size: 16px;
  color: #666;
}

.contenido-perfil {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.informacion-horarios {
  flex: 1;
}

.informacion-horarios h5 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.dias-horarios {
  display: flex;
  flex-direction: column;
}

.dias-semana {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.etiqueta-preferencia {
  background-color: #ff6600;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.horarios-gimnasio p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  
}

.imagen-perfil-derecha {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

 
}

.informacion-perfil {
  margin-top: 20px;
 
}

.preferencias-perfil {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.descripcion-perfil {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  text-align: justify;
}

.flecha-contenedor {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.flecha-izquierda {
  left: 10px;
}

.flecha-derecha {
  right: 10px;
}

.boton-flecha {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.boton-flecha:hover {
  background-color: #ff5500;
}

.texto-flecha {
  color: #333;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
