.contenedor-deslizar-perfiles {
  position: relative;
  width: 100%;
  max-width: 600px; /* Aumentar el tamaño máximo de la tarjeta */
  margin: 0 auto;
  outline: none;
}

.contenedor-perfil {
  position: absolute;
  width: 100%;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.perfil-activo {
  opacity: 1;
  transform: translateX(0);
}

.perfil-inactivo {
  opacity: 0;
  transform: translateX(100%);
}

.tarjeta-perfil {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px; /* Aumentar padding para darle más espacio */
}

.cabecera-perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Mayor separación entre el encabezado y la imagen */
}

.nombre-perfil {
  font-size: 2rem; /* Aumentar el tamaño del texto del nombre */
  margin: 0;
  color: #333;
  flex: 1;
}

.nivel-perfil {
  font-size: 1.2rem; /* Aumentar el tamaño del texto del nivel */
  margin: 0;
  color: #666;
}

.contenido-perfil {
  text-align: center;
}

.imagen-perfil {
  width: 100%;
  max-width: 350px; /* Aumentar el tamaño máximo de la imagen */
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px; /* Mayor espacio debajo de la imagen */
}

.informacion-perfil {
  font-size: 1.2rem; /* Aumentar el tamaño de la fuente de la información */
  color: #555;
  text-align: left;
}

.preferencias-perfil {
  margin-bottom: 15px; /* Mayor espacio entre preferencias y descripción */
}

.descripcion-perfil {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}
