.actDayNumber {
    font-size: 1.8em;
    font-weight: 600;
    color: var(--color-texto-principal);
}

.actDayMonth {
    font-size: 1em;
    font-weight: 400;
    color: var(--color-texto-principal);
}

.actDayLeftVisor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-right: 2px solid var(--color-texto-principal);
    padding-right: 20px;
}

.actDayRightVisor h5 {
    font-size: 1.4em;
    color: var(--color-texto-principal);
}

.actDayRightVisor span {
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.actDayRightVisor .customIframeGoogleMaps {
    margin-top: 20px;
}

.actDayLeaveButton {
    display: flex;
    justify-content: flex-end;
}