/*Tipografías*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Colores*/
:root {
    --color-principal: #5922ff;
    --color-secundario: #4CAF50;
    --color-terciario: #FFC107;

    --color-fondo-principal: #ffffff;
    --color-fondo-secundario: #76c1ff;

    --color-texto-principal: #afbadf;
    --color-texto-secundario: #757575;

    --color-error: #F44336;
    --color-éxito: #8BC34A;
    --color-info: #03A9F4;
}

/*Principales*/
.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo-principal);
}

/*Navbar*/
.customNavbar {
    margin: 30px;
    border-radius: 8px;
    background-color: var(--color-fondo-principal) !important;
    box-shadow: 0px 0px 12px 0px var(--color-fondo-secundario);
}

.customBrand {
    color: var(--color-principal) !important;
    font-family: 'Pacifico', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}

.customCollapse {
    justify-content: right;
    text-align: right !important;
}

.customNav {
    display: flex;
    justify-content: end;
}