/*Tipografías*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Colores*/
:root {
    --color-principal: #5922ff;
    --color-secundario: #4CAF50;
    --color-terciario: #e4e4e4;
    --color-fondo-principal: #ffffff;
    --color-fondo-secundario: #76c1ff;
    --color-texto-principal: #afbadf;
    --color-texto-secundario: #757575;
    --color-error: #F44336;
    --color-éxito: #8BC34A;
    --color-info: #03A9F4;
}

.relative {
    position: relative;
    width: 100%;
    height: fit-content;
}

/*Principales*/
.contenedorPrincipal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--color-fondo-principal);
    filter: brightness(100%);
    transition-duration: 0.3s;
}

.darkened {
    filter: brightness(52%);
    pointer-events: none !important;
}
.mainContainer {
    --bs-gutter-x: 5rem;
    --bs-gutter-y: 0;
    width: 100%;
    height: fit-content;
    background-color: black;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.mainContent {
    padding-top: 50px;
    min-height: 100vh;
    background-color: white;
}