.form-create-activity {
    background-color: #1c1c1c;
    /* Fondo oscuro para el formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.7);
    /* Sombra con color naranja */
    width: 60%;
    margin: auto;
}

.normal-width {
    width: 48% !important;
}

.title {
    color: #ff6600;
    /* Naranja para el título */
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #ff6600;
    /* Naranja para los labels */
}

label span {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

.input-activity-title {
    width: 100%;
    background-color: #333;
    border: none;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    /* Texto blanco en el input */
    font-size: 14px;
    margin-bottom: 10px;
}
.marginright {
    margin-right: 4%;
}
.flexx {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100% !important;
    height: fit-content;
    align-items: start end;
    flex-direction: row;
}
.input-activity-description {
    width: 100%;
    height: 90px;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    /* Texto blanco en el input */
    font-size: 14px;
    margin-bottom: 32px;
}
.date-input {
    width: 100%;
    height: 35px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    /* Texto blanco en el input */
    font-size: 14px;
    margin-bottom: 10px;
}

.search-input {
    position: absolute;
    width: 40%;
    height: 36px;
    left: 0;
    right: 0;
    top: 8%;
    margin-right: auto;
    margin-left: auto;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    /* Texto blanco en el input */
    font-size: 14px;
    box-shadow: 0px 0px 6px #ff6600;
}

.map-box {
    position: relative;
    align-items: center;
}
.map {
    width: 100%;
    height: 400px;
}

.bottom-margin {
    margin-bottom: 30px;
}

.input-activity-title:focus,
.input-activity-description:focus,
.search-input:focus,
.date-input:focus {
    outline: none;
    border: 2px solid #ff6600;
    /* Borde naranja al enfocar */
}

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: white;
    overflow: hidden;
    margin: 0 auto;
}

.plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent black transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover {
    cursor: pointer;
}

.plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
}

.plusButton>.plusIcon {
    fill: black;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.plusButton:hover>.plusIcon {
    fill: white;
    transform: rotate(180deg);
}

.plusButton:focus-visible>.plusIcon {
    fill: white;
    transform: rotate(180deg);
}