/* Estilo general */
.login-container {  
    background-color: #1c1c1c; /* Fondo ligeramente más claro para el contenedor */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.7); /* Sombra con color naranja */
    width: 30%;
    text-align: center;
    margin: 100px auto !important;
}

.h2OfLogin {
    color: #ff6600; /* Naranja para el título */
    margin-bottom: 30px;
    font-size: 28px;
}

.hrOfLogin {
    border: 1px solid #ff6600; /* Línea naranja */
    margin-bottom: 30px;
}
.input-group {
    position: relative; /* Set the container as a relative position context */
    display: flex;
    align-items: center;
}

.password {
    width: 100%;
    padding-right: 40px; /* Adjust the padding to make space for the icon */
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 10px; /* Position the icon 10px from the right edge of the input */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Optional: Style the icon to align vertically center */
.toggle-password svg {
    width: 20px; /* Adjust the size of the icon */
    height: 20px;
    color: #fff; /* Adjust the color of the icon */
}

.login-container input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff; /* Texto blanco en el input */
    font-size: 16px;
}

.login-container input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px solid #ff6600; /* Borde naranja al enfocar */
}

.buttonOfLogin {
    background-color: #ff6600;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonOfLogin:hover {
    background-color: #e65c00; /* Oscurecer el botón al pasar el mouse */
}

.link-to-register {
    color: #ff6600;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 14px;
}