.custom-register-form {
    background-color: #2b2b2b; /* Fondo oscuro */
    border-radius: 10px;
    padding: 20px;
    color: #ff6600; /* Naranja brillante para el texto */
  }
  
  .custom-register-form .form-group {
    margin-bottom: 15px;
  }
  
  .custom-register-form .input-group-text {
    background-color: #ff6600; /* Fondo naranja */
    border: none;
    color: white;
  }
  
  .custom-register-form .form-control {
    background-color: #3c3c3c; /* Fondo oscuro para el input */
    color: white;
    border: 1px solid #ff6600; /* Borde naranja */
    border-radius: 0;
  }
  
  .custom-register-form .form-control:focus {
    background-color: #3c3c3c;
    color: white;
    border-color: #ff6600;
    box-shadow: none;
  }
  
  .custom-register-form .form-select {
    background-color: #3c3c3c;
    color: white;
    border: 1px solid #ff6600;
  }
  
  .custom-register-form .time-picker-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .custom-register-form .time-picker-group {
    display: flex;
    align-items: center;
    background-color: #3c3c3c;
    border-radius: 6px;
    padding: 5px;
  }
  
  .custom-register-form .time-picker-icon {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border-radius: 6px 0 0 6px;
  }
  
  .custom-register-form .time-picker-input {
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    border-radius: 0 6px 6px 0;
    padding: 5px 10px;
    font-size: 1rem;
  }
  
  .custom-register-form .dias-semana {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .custom-register-form .dias-semana .form-label {
    color: #ff6600;
    font-weight: bold;
    text-align: center;
  }
  
  .custom-register-form .dias-semana .form-group {
    flex: 1;
    text-align: center;
  }
  
  .custom-register-form .react-switch {
    margin-top: 10px;
  }
  
  .custom-register-form .custom-button-selected {
    background-color: #ff6600;
    color: white;
    border: 2px solid #ff6600;
  }
  
  .custom-register-form .custom-button-unselected {
    background-color: transparent;
    color: #ff6600;
    border: 2px solid #ff6600;
  }
  
  .custom-register-form .custom-submit-btn {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
  }
  
  .custom-register-form .custom-submit-btn:hover {
    background-color: #e65a00;
  }
  
