h1{
  font-family: Arial, sans-serif; /* Usa Arial o cualquier fuente sans-serif similar */
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Estilo en negrita */
  color: #ffffff; /* Color del texto en blanco */
  margin: 0; /* Sin márgenes */
  padding: 0; /* Sin relleno */
  letter-spacing: 0.5px; /* Ligera separación entre las letras */
}

.hOkdQb {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.jgkupB {
  background-color: #f0bb31;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 30% !important;
  margin-left: 35%;
}
.jbvTfX {
 margin-left:40% !important;
}
.cwtnrE {
  background-color: #f0bb31;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 20px;
  width: 30%;
  margin-left: 35%;
  text-align: center;
}



h1.nombre{
  font-size: 15px;
  margin-bottom: 5px;
}
h1.apellidos{
  font-size: 15px;
  margin-bottom: 5px;
}
h1.correo{
  font-size: 15px;
 
  margin-bottom: 5px;
}
h1.ubicacion{
  font-size: 15px;
  margin-bottom: 5px;
}
h1.actividad{
margin-top: 20px;
text-align: center;
font-weight: bold;
margin-bottom: 20px;
}
h1.horario-habitual{
  text-align: center; 
  font-size: 18px;
  margin-bottom: 15px;
}
h1.entrada{
  font-size: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  
}
h1.rutina{
  text-align: center;
  font-size: 18px;

}
.rutina-diaria-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
  justify-content: space-between; /* Alinea los elementos con espacio entre ellos */
  gap: 10px; /* Espaciado entre los elementos */
  margin-bottom: 10px;
}

.rutina-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(1% - 1px); /* Ocupa un 25% del ancho menos el espacio de gap */
  min-width: 80px; /* Ancho mínimo para asegurar que los elementos no se reduzcan demasiado */
  margin-bottom: 10px; /* Espacio inferior para cuando se envuelvan en filas */
}
.contenidor-time-picker {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente si es necesario */
  gap: 20px; /* Espacio entre los elementos */;
}
.react-time-picker__inputGroup {
  min-width: calc((4px* 3) + 0.54em* 6 + 0.217em* 2);
  flex-grow: 1;
  padding: 0 10px;
  box-sizing: content-box;
}

.rutina-label {
  font-family: 'Roboto', sans-serif;
  font-size: 15px; /* Tamaño del texto */
  color: #ff6600; /* Color del texto */
  margin-bottom: 5px; /* Espacio entre el texto y el interruptor */
  margin-top: 5px;
  font-weight: 900;
  text-align: center; /* Centra el texto en cada caja */
}
h1.nivel{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

h1.actividades-favoritas{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
.botones-intereses {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se envuelvan en varias filas si es necesario */
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espaciado entre los botones */
}

.botones-intereses .styled-button {
  background-color: #333; /* Color de fondo por defecto */
  color: #fff; /* Color del texto */
  border: none;
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno para el botón */
  flex: 1 1 calc(25% - 20px); /* Ocupa un 25% del ancho del contenedor menos espacio para el gap */
  max-width: calc(25% - 20px); /* Asegura que no se expandan demasiado */
  text-align: center; /* Centra el texto dentro del botón */
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave en hover */
  box-sizing: border-box; /* Incluye el padding y borde en el cálculo del ancho */
}

.botones-intereses .styled-button.selected {
  background-color: #ff6600; /* Color de fondo cuando está seleccionado */
}

.botones-intereses .styled-button:hover {
  background-color: #555; /* Color de fondo en hover */
}
.button[type="submit"] {
  background-color: #f0bb31;
}
h1.miperfil{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
h1.sobremi{
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
h1.sonrie{
  text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}



