/* Register.css */

.page-container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-container-custom {
    width: 100%;
    max-width: 80%;
    padding: 20px;
}

.register-card-custom {
    padding: 10%;
    border-radius: 20px;
    text-align: center;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 32px;
    color: #1a73e8;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.form-control {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    background-color: #f1f3f4;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #1a73e8;
    box-shadow: 0 0 8px rgba(26, 115, 232, 0.6);
}

button.register-button-custom {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
    font-weight: 780;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button.register-button-custom:hover {
    background-color: #1669c1;
    transform: translateY(-2px);
}

.success-message-custom {
    color: #4CAF50;
    font-family: 'Montserrat', sans-serif;
    font-size: 16%;
}

.error-message-custom {
    color: #f44336;
    font-family: 'Montserrat', sans-serif;
    font-size: 16%;
}

button.btn-outline-secondary {
    align-items: center;
    border: none;
    background: none;
    padding: 6px;
}




