/* General styles */

/* Form group spacing */
.custom-register-form .form-group {
    margin-bottom: 20px;
}

/* Input and select styles */
.custom-register-form .form-control, 
.custom-register-form .form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    transition: border-color 0.3s;
}

.custom-register-form .form-control:focus, 
.custom-register-form .form-select:focus {
    border-color: #007bff;
    box-shadow: none;
}

.custom-register-form .input-group-text {
    background-color: #f7f9fc;
    border: 1px solid #ced4da;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}

.custom-register-form .input-group-text .form-control {
    border-left: 0;
}

/* Label styles */
.custom-register-form .form-label {
    font-weight: bold;
    color: #495057;
}

/* Button styles */
.custom-submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s;
}

.custom-submit-btn:hover {
    background-color: #218838;
}

/* Preferences buttons */
.custom-preferences-btn {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-preferences-btn:hover {
    background-color: #007bff;
    color: white;
}

.custom-preferences-btn.selected {
    background-color: #007bff;
    color: white;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .custom-register-form .form-group {
        margin-bottom: 15px;
    }

    .custom-register-form .form-control, 
    .custom-register-form .form-select {
        padding: 8px;
    }

    .custom-submit-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .custom-register-form .form-group {
        margin-bottom: 10px;
    }

    .custom-register-form .form-control, 
    .custom-register-form .form-select {
        padding: 6px;
    }

    .custom-submit-btn {
        padding: 6px 12px;
        font-size: 12px;
    }
    .time-picker-container {
        display: flex;
        gap: 20px; /* Espacio entre los selectores */
        align-items: center;
        text-align: center;
    }
    
    .react-time-picker__inputGroup__input {
        padding: 10px 8px; /* Aumenta el padding para mejorar la usabilidad */
        font-size: 18px; /* Tamaño de fuente más grande para mayor legibilidad */
        text-align: center; /* Centra el texto */
        font-family: 'Arial', sans-serif; /* Fuente más legible */
    }
    
    /* Estilos para el contenedor del TimePicker */
    .react-time-picker__wrapper {
        border: 1px solid #ced4da;
        border-radius: 8px; /* Borde más redondeado */
        padding: 10px; /* Aumenta el padding para una mejor apariencia */
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    }
    
    /* Sobrescribir estilos de inputs inválidos */
    .react-time-picker__inputGroup__input:invalid {
        box-shadow: none; /* Eliminar sombra por defecto */
        border-color: #ced4da; /* Mantener el color del borde consistente */
        color: #000; /* Asegurar que el texto sigue siendo negro */
    }
    
    /* Estilos para los botones de limpiar y reloj */
    .react-time-picker__clear-button,
    .react-time-picker__clock-button {
        font-size: 18px; /* Tamaño de los íconos más grande */
        color: #495057;
    }
    
    /* Cambiar el color al pasar el ratón por los botones */
    .react-time-picker__clear-button:hover,
    .react-time-picker__clock-button:hover {
        color: #000; /* Cambia el color al pasar el ratón */
        cursor: pointer;
    }
    

  
  
