.custom-register-form {
    margin-top: 20px;
  }
  
  .custom-preferences {
    margin-top: 30px;
  }
  
  .custom-preferences-btn {
    min-width: 100px;
    font-size: 0.9rem;
  }
  
  .custom-submit-btn {
    width: 150px;
  }
  
  

/* Tarjeta de registro */
.register-card {
    width: 100%;
}

.register-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Estilos de formulario */
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Grupo de formulario */
.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo especial para inputs de solo lectura */
.form-group input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

/* Botón de envío */
.register-button, .update-button {
    grid-column: span 2;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff; /* Azul predeterminado */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-align: center;
}

/* Efecto al pasar el mouse */
.register-button:hover, .update-button:hover {
    background-color: #0056b3; /* Azul más oscuro al hacer hover */
}

/* Efecto al hacer clic */
.register-button:active, .update-button:active {
    background-color: #004494; /* Azul más oscuro al hacer clic */
    transform: scale(0.98); /* Ligeramente más pequeño al hacer clic */
}

/* Alineación centrada del botón */
.register-button, .update-button {
    display: inline-block;
    text-align: center;
}
