.register-container {
    background-color: #1c1c1c;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.7);
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 1%;
}
.form-control {
    padding: 1%;
}
.Cabezera {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 110%; /* Ajuste del tamaño de fuente */
    color: #ffffff;
    text-align: center;
    margin-bottom: 10%; /* Añadir un poco de espacio debajo del título */
}
.form-group {
    margin-bottom: 3%; /* Espacio entre los campos del formulario */
}

.input-group-custom {
    display: flex;
    align-items: center;
    border-radius: 25px; /* Redondea las esquinas del grupo de entrada */
    background-color: #f2f4f7; /* Fondo similar al de la imagen */
    padding: 3% 5%;
}

.input-icon {
    background-color: transparent;
    border: none;
    color: #bfc8e4; /* Color del icono */
    font-size: 110%; /* Tamaño del icono */
    padding-right: 10px;
}

.input-field {
    border: none;
    background-color: transparent;
    color: #555;
    width: 100%;
    margin: transparent;
    padding-left: 5px;
    font-size: 16px; /* Ajusta el tamaño del texto del input */
}

.input-field::placeholder {
    color: #555;/* Color del texto placeholder */
    border: transparent;
    margin: transparent;
}

.input-field:focus {
    outline: none;
}

.toggle-password {
    color: #9098B1;
    cursor: pointer;
    padding-left: 10px;
    font-size: 18px;
}

.buttonRegister {
    background-color: #ff6600;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 25px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.buttonRegister:hover {
    background-color: #e65c00;
}

.link-to-login {
    color: #ff6600;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 14px;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
